html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", "Fraunces", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: #dde6ed;
  background: linear-gradient(
    90deg,
    rgba(221, 230, 237, 1) 0%,
    rgba(157, 178, 191, 1) 20%,
    rgba(82, 109, 130, 1) 80%,
    rgba(39, 55, 77, 1) 100%
  );
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
